
<div>
  <table id="blogsList"></table>
  <div id="blogsListPager"></div>
</div>

<script>
$(function() {
  $("#blogsList").jqGrid({
    datatype: 'json',
    colNames: ['Id', 'Title', 'Category', 'Created Date', 'Updated Date', 'Actions'],
    colModel: [
      { name: 'id', index: 'id', width: 50, searchtype: "integer" },
      { name: 'title', index: 'title' },
      { name: 'category', index: 'category', sortable: false },
      { name: 'created', index: 'created', formatter:'date', formatoptions: {srcformat:'ISO8601Long', newformat:'m/d/Y H:i:s'} },
      { name: 'lastUpdated', index: 'lastUpdated', formatter:'date', formatoptions: {srcformat:'ISO8601Long', newformat:'m/d/Y H:i:s'} },
      { name: 'actions', index: 'actions', sortable: false}
    ],
    pager: '#blogsListPager',
    height: 260,
    rowNum: 10,
    rowList: [10, 25, 50, 100],
    sortname: 'created',
    sortorder: 'asc',
    viewrecords: true,
    gridview: true,
    url: '/blogs'
  })
  .jqGrid('navGrid', '#blogsListPager',
    {
      add: false,
      edit: false,
      del: false
    },
    {}, // settings for edit
    {}, // settings for add
    {},
    {
      multipleSearch: true,
      multipleGroup: false,
      showQuery: true
    })
  .jqGrid('filterToolbar', {
    autosearch: true
  });
});
</script>