<!DOCTYPE html>
<html>
  <head>
    <title>Persist Example WebApp: <%= title %></title>
    <script src="/javascripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="/jqueryui/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script src="/jqgrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/jqueryui/css/smoothness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="/jqgrid/css/ui.jqgrid.css" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
